{% extends "layout.html" %}

{% block title %} Staffs {% endblock %}

{% block content %}
<div class="page-wrapper">
      <!-- Bread crumb and right sidebar toggle -->
      <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h3 class="page-title">Trang Nhân Viên</h3>
                  </div>
                  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                              <ol class="breadcrumb ms-auto"></ol>
                              <a href="/staffs/createStaff"
                                    class="btn btn-success  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">
                                    Thêm Nhân Viên
                              </a>
                        </div>
                  </div>
            </div>
      </div>
      <!-- End Bread crumb and right sidebar toggle -->

      <!-- ============================================================== -->

      <!-- Container fluid  -->
      <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                  <div class="col-sm-12">
                        <div class="white-box">
                              <h3 class="box-title">Nhân viên</h3>
                              <div class="table-responsive" style="height: 398px;">
                                    <table class="table text-nowrap table-bordered table-hover">
                                          <thead>
                                                <tr class="table-primary">
                                                      <th> Mã nhân viên </th>
                                                      <th> Tên nhân viên </th>
                                                      <th> Giới tính </th>
                                                      <th> Ngày sinh </th>
                                                      <th> Địa chỉ </th>
                                                      <th> Số điện thoại </th>
                                                      <th> Chức vụ </th>
                                                      <th></th>
                                                </tr>
                                          </thead>
                                          <tbody id="staffList">
                                                <!-- Put data by Js  -->
                                          </tbody>
                                    </table>
                              </div>
                              <!-- Phân trang -->
                              <div id="pagination" style="margin-top: 30px;"></div>
                        </div>
                  </div>
            </div>
            <!-- End Page Content -->
      </div>
      <!-- End Container fluid  -->
</div>

<script>
      var currentPage = 1;
      var itemsPerPage = 5;

      // Hàm hiển thị dữ liệu cho một trang cụ thể
      function displayData(pageNumber, data) {
            var start = (pageNumber - 1) * itemsPerPage;
            var end = start + itemsPerPage;
            var paginatedData = data.slice(start, end);

            var tableBody = document.getElementById("staffList");
            tableBody.innerHTML = ""; // Xóa bảng hiện tại trước khi thêm dữ liệu mới

            paginatedData.forEach(function (staff) {
                  var row = document.createElement("tr");
                  var keys = ['MaNV','TenNV','GioiTinh','NgaySinh','DiaChi','SDT','ChucVu']
                  for (var i = 0; i < keys.length; i++) {
                        var cell = document.createElement("td");
                        cell.textContent = staff[keys[i]];
                        row.appendChild(cell);
                  }

                  // Tạo các nút Detail, Edit và Delete
                  var actionCell = document.createElement("td");
                  actionCell.style.width = '100px';
                  actionCell.style.height = '65px';

                  // // Edit
                  // var editButton = document.createElement("a");
                  // editButton.textContent = "Edit";
                  // var id =  staff['MaNV']
                  // editButton.setAttribute("href", "/staffs/edit/" + id);
                  // editButton.setAttribute("class", "btn btn-primary");
                  // editButton.style.marginRight = "5px"
                  // actionCell.appendChild(editButton);

                  // Delete
                  if (staff['ChucVu'] != 'Quản lý') {
                        var deleteButton = document.createElement("button");
                        deleteButton.textContent = "Delete";
                        deleteButton.setAttribute("class", "btn btn-danger");
                        var id =  staff['MaNV']
                        deleteButton.addEventListener("click", function () {
                              window.location.href = "/staffs/delete/" + id;
                        });
                        actionCell.appendChild(deleteButton);
                        actionCell.style.textAlign = "center";
                  }
                  row.appendChild(actionCell);
                  tableBody.appendChild(row);
            });
            // Highlight trang hiện tại
            highlightCurrentPage(pageNumber);
      }

      // Hàm tạo liên kết phân trang
      function createPaginationButtons(totalPages, staffs) {
            var pagination = document.getElementById("pagination");
            pagination.innerHTML = "";    // Xóa nút phân trang hiện tại trước khi tạo mới

            for (var i = 1; i <= totalPages; i++) {
                  var button = document.createElement("button");
                  button.textContent = i;
                  button.addEventListener("click", function () {
                        currentPage = parseInt(this.textContent);
                        displayData(currentPage, staffs);
                  });
                  pagination.appendChild(button);
            }
            // Canh giữa thanh phân trang
            pagination.style.textAlign = "center";
      }

      // Highlight trang hiện tại
      function highlightCurrentPage(pageNumber) {
            var buttons = document.getElementById("pagination").getElementsByTagName("button");
            for (var i = 0; i < buttons.length; i++) {
                  if (parseInt(buttons[i].textContent) === pageNumber) {
                        buttons[i].style.backgroundColor = "#007bff";
                        buttons[i].style.color = "#fff";
                  } else {
                        buttons[i].style.backgroundColor = "";
                        buttons[i].style.color = "";
                  }
            }
      }

      // Sử dụng AJAX để gửi yêu cầu GET đến endpoint /staffs/getAll
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/staffs/getAll", true);      
      xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                  var staffs = JSON.parse(xhr.responseText);
                  // Tạo nút phân trang và Hiển thị dữ liệu cho trang đầu tiên
                  if (staffs.length/itemsPerPage > 1)
                        createPaginationButtons(Math.ceil(staffs.length / itemsPerPage), staffs);
                  displayData(currentPage, staffs);
            }
      };
      xhr.send();

      // Tìm kiếm tên nhân viên
      document.getElementById("searchIcon").addEventListener("click", function () {
            event.preventDefault(); // Ngăn chặn hành vi mặc định của nút tìm kiếm
            var searchTerm = document.getElementById("searchInput").value;
            url = "/staffs/getNvByTenNV/" + searchTerm;
            if (searchTerm.trim() == "") 
                  url = "/staffs/getAll";
            
            // Gửi yêu cầu tìm kiếm đến endpoint /medicine/getThuocByTenThuoc/<TenThuoc>
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url, true);
            xhr.onreadystatechange = function () {
                  if (xhr.readyState === 4 && xhr.status === 200) {
                        var staffs = JSON.parse(xhr.responseText);
                        document.getElementById("pagination").innerHTML = "";       // Reser thanh phân trang
                        if (staffs.length / itemsPerPage > 1)
                              createPaginationButtons(Math.ceil(staffs.length / itemsPerPage), staffs);
                        displayData(currentPage, staffs);
                  }
            };
            xhr.send();
      });
</script>
{% endblock %}