{% extends "layout.html" %}

{% block title %} Bills of Sale {% endblock %}

{% block content %}
<div class="page-wrapper">
      <!-- Bread crumb and right sidebar toggle -->
      <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h3 class="page-title">Trang hóa đơn bán</h3>
                  </div>
            </div>
      </div>
      <!-- End Bread crumb and right sidebar toggle -->

      <!-- ============================================================== -->

      <!-- Container fluid  -->
      <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                  <div class="col-sm-12">
                        <div class="white-box">
                              <h3 class="box-title" style="float: left;">Hóa đơn bán</h3>
                              <!-- Tạo ô select để chọn các trường để sắp xếp danh thuốc theo (NgayLap) -->
                              <div style="float: right; font-size: 16px;">
                                    <label for="sort">Sắp xếp theo: </label>
                                    <select id="sort">
                                          <option value="">...</option>
                                          <option value="NgayLap">Ngày lập</option>
                                          <option value="TongTien">Tổng tiền</option>
                                    </select>
                                    <button id="sortButton">Sắp xếp</button>
                              </div>
                              <div class="table-responsive" style="height: 398px; clear: both;">
                                    <table class="table text-nowrap table-bordered table-hover">
                                          <thead>
                                                <tr class="table-primary">
                                                      <th> Số hóa đơn bán </th>
                                                      <th> Mã nhân viên </th>
                                                      <th> Ngày lập </th>
                                                      <th> Mã khách hàng </th>
                                                      <th> Tổng tiền </th>
                                                      <th></th>
                                                </tr>
                                          </thead>
                                          <tbody id="billList">
                                                <!-- Put data by Js  -->
                                          </tbody>
                                    </table>
                              </div>
                              <!-- Phân trang -->
                              <div id="pagination" style="margin-top: 30px;"></div>
                        </div>
                  </div>
            </div>
            <!-- End Page Content -->
      </div>
      <!-- End Container fluid  -->
</div>

<script>
      var currentPage = 1;
      var itemsPerPage = 5;

      // Hàm hiển thị dữ liệu cho một trang cụ thể
      function displayData(pageNumber, data) {
            var start = (pageNumber - 1) * itemsPerPage;
            var end = start + itemsPerPage;
            var paginatedData = data.slice(start, end);

            var tableBody = document.getElementById("billList");
            tableBody.innerHTML = ""; // Xóa bảng hiện tại trước khi thêm dữ liệu mới

            paginatedData.forEach(function (bill) {
                  var row = document.createElement("tr");
                  var keys = ['SoHDB','MaNV','NgayLap','MaKH','TongTien']
                  for (var i = 0; i < keys.length; i++) {
                        var cell = document.createElement("td");
                        cell.textContent = bill[keys[i]];
                        row.appendChild(cell);
                  }

                  // Tạo các nút Detail
                  var actionCell = document.createElement("td");

                  var detailButton = document.createElement("a");
                  detailButton.textContent = "Detail";
                  var id =  bill['SoHDB'];
                  detailButton.setAttribute("href", "/bills/detail/" + id);
                  detailButton.setAttribute("class", "btn btn-success");
                  detailButton.style.marginRight = "5px";
                  actionCell.appendChild(detailButton);
                  actionCell.style.textAlign = "center";

                  row.appendChild(actionCell);
                  tableBody.appendChild(row);
            });
            // Highlight trang hiện tại
            highlightCurrentPage(pageNumber);
      }

      // Hàm tạo liên kết phân trang
      function createPaginationButtons(totalPages, bills) {
            var pagination = document.getElementById("pagination");
            pagination.innerHTML = "";    // Xóa nút phân trang hiện tại trước khi tạo mới

            for (var i = 1; i <= totalPages; i++) {
                  var button = document.createElement("button");
                  button.textContent = i;
                  button.addEventListener("click", function () {
                        currentPage = parseInt(this.textContent);
                        displayData(currentPage, bills);
                  });
                  pagination.appendChild(button);
            }
            // Canh giữa thanh phân trang
            pagination.style.textAlign = "center";
      }

      // Highlight trang hiện tại
      function highlightCurrentPage(pageNumber) {
            var buttons = document.getElementById("pagination").getElementsByTagName("button");
            for (var i = 0; i < buttons.length; i++) {
                  if (parseInt(buttons[i].textContent) === pageNumber) {
                        buttons[i].style.backgroundColor = "#007bff";
                        buttons[i].style.color = "#fff";
                  } else {
                        buttons[i].style.backgroundColor = "";
                        buttons[i].style.color = "";
                  }
            }
      }

      // Sử dụng AJAX để gửi yêu cầu GET đến endpoint /bill/getAll
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/bill/getAll", true);      
      xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                  var bills = JSON.parse(xhr.responseText);
                  // Tạo nút phân trang và Hiển thị dữ liệu cho trang đầu tiên
                  if (bills.length/itemsPerPage > 1)
                        createPaginationButtons(Math.ceil(bills.length / itemsPerPage), bills);
                  displayData(currentPage, bills);
            }
      };
      xhr.send();

      // Xử lý sự kiện khi người dùng nhấn nút "Sắp xếp" theo thuộc tính
      document.getElementById("sortButton").addEventListener("click", function () {
            event.preventDefault();       // Ngăn chặn trang tải lại
            var sortBy = document.getElementById("sort").value;
            //alert(sortBy);
            url = "/bills/getAllWithCondition?sortBy=" + sortBy;
            if (sortBy.trim() == "") 
                  url = "/bill/getAll";
            // Gửi yêu cầu sắp xếp danh sách thuốc theo thuộc tính đã chọn đến endpoint /medicine/getAllWithCondition
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url, true);
            xhr.onreadystatechange = function () {
                  if (xhr.readyState === 4 && xhr.status === 200) {
                        var bills = JSON.parse(xhr.responseText);
                        document.getElementById("pagination").innerHTML = "";       // Đặt lại thanh phân trang
                        if (bills.length / itemsPerPage > 1)
                              createPaginationButtons(Math.ceil(bills.length / itemsPerPage), bills);
                        displayData(currentPage, bills);
                  }
            };
            xhr.send();
      });
  </script>
{% endblock %}